#wrapper {
    padding-top: 2%;
}

#cards {
    position: relative; 
    text-align: center;
}

.card {
    display: inline-block; 
    /* font-size: 1.5vw; */
    padding: 1.7%;
    margin: 0.05%;  
    color: white; 
    background-color: #288ec8; 
}

#legend-comment-wrapper {
    padding-top: 2%;
    height: 27vh;
}

.legend {
    float: left;
}

.legend .grey {
    border-radius: 0%;
    width: 3.2vw;
     margin-top: 2.8%;
     height: 0.35vw;
     border: 0vw solid grey;
 }
 
 .legend .green {
     border-radius: 0%;
     width: 3.2vw;
     margin-top: 2.8%;
     height: 0.35vw;
     border: 0vw solid grey;
 }

 .legend .black {
    border-radius: 0%;
    width: 3.2vw;
    margin-top: 2.8%;
    height: 0.35vw;
    border: 0vw solid grey;
}



.comment-box {
    margin: auto;
}

.slidecontainer {
    padding-top: 0%;
}

.buttons-wrapper {
    text-align: center;
    padding-top: 2%;
}

#question {
    /* font-size: 1.5vw; */
    text-align: justify;
    padding-bottom: 2%;
}

#type {
    padding-top: 12%;
}

p,span {
    /* font-size: 1.5vw; */
    text-align: center;
}
